<tr id={{ "hotelRoom_%s" % (hotelroom.room_id) }}>
    <form id={{ "hotelRoomForm_%s" % (hotelroom.room_id) }} hx-post={{ "/update_hotelroom/%s" % (hotelroom.room_id) }} hx-target="#hotelRoomsOverviewBody" hx-swap="outerHTML" enctype="multipart/form-data" ></form>
    <td><input form={{ "hotelRoomForm_%s" % (hotelroom.room_id) }} type="text" name="room_id" value={{ hotelroom.room_id }}></td>
    <td>
        <select form={{ "hotelRoomForm_%s" % (hotelroom.room_id) }} name="room_size">
            <option value="SINGLE" {% if hotelroom_room_size == 'SINGLE' %}selected="selected"{% endif %}>Einzelzimmer</option>
            <option value="DOUBLE" {% if hotelroom_room_size == 'DOUBLE' %}selected="selected"{% endif %}>Doppelzimmer</option>
            <option value="SUITE" {% if hotelroom_room_size == 'SUITE' %}selected="selected"{% endif %}>Suite</option>
        </select>
    </td>
    <td><input form={{ "hotelRoomForm_%s" % (hotelroom.room_id) }} type="checkbox" name="has_minibar" value="True" {% if hotelroom.has_minibar == 'True' %}checked{% endif %}></td>
    <td>
        <input form={{ "hotelRoomForm_%s" % (hotelroom.room_id) }} type="submit" value="Update">
        <input hx-delete={{ "/delete_hotelroom/%s" % (hotelroom.room_id) }} type="submit" value="Delete" hx-target={{ "#hotelRoom_%s" % (hotelroom.room_id) }} hx-swap="delete">
        <input hx-get={{ "/cancel_edit_hotelroom/%s" % (hotelroom.room_id) }} hx-target={{ "#hotelRoom_%s" % (hotelroom.room_id) }} hx-swap="outerHTML" type="submit" value="Cancel">
    </td>
</tr>